<app-navbar>
<br>
    <div >
      <h1 id="baslik" >Otel</h1>
      <button id="added-button" mat-raised-button (click)="opendialog()">Otel Ekle

      </button>
    </div>
    <br>
    <br>
    <br>
<div id="tables" class="mat-elevation-z8 " >

  <table id="table" mat-table [dataSource]="HotelData" >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>

      <td mat-cell *matCellDef="let element"> {{element.id}}  </td>
    </ng-container>
    <ng-container matColumnDef="hotelCode">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.hotelCode}} </td>
    </ng-container>

    <ng-container matColumnDef="hotelName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element" > {{element.hotelName}}</td>
    </ng-container>
    <ng-container matColumnDef="updateico">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" >
        <button (click)="removeHotel();" id="deletebutton" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="editHotel();" id="updatebutton" mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>edit</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>




  </table>
  <mat-paginator [pageSizeOptions]="[10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements">
</mat-paginator>
</div>
</app-navbar>
