<app-navbar> </app-navbar>
<body>
  <br/><br/><br/><br/> <br/>
<div class="logsign">
  <mat-card class="login">
    <mat-tab-group
      ><br />
      <mat-tab id="login" label="Log In">
        <mat-card class="example-card">
          <mat-card-content>
            <form class="login form">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Type your email" [(ngModel)]="username" name="username" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              </mat-form-field>
              <br />
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" id="psw" matInput placeholder="Type your password" [(ngModel)]="password" name="password" required>
              </mat-form-field>
              <br />
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="login()" mat-flat-button color="primary" [disabled] = "!username ||!password">Sign In</button>
          </mat-card-actions>
        </mat-card></mat-tab>
      <br />  <br />
      <mat-tab id="sign-up" label="Sign Up">
        <mat-card class="example-card">
        <mat-card-content>
          <form class="sign up form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" [(ngModel)]="rgusername" name="rgusername" /> </mat-form-field
            ><br />
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" [(ngModel)]="rgpassword" name="rgpassword" required>
            </mat-form-field>
          </form> </mat-card-content>
          <mat-card-actions>
            <button (click)="register()" mat-flat-button color="primary" >Save</button>

        </mat-card-actions>
        </mat-card></mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
</body>
