/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#added-button{
  color: white;
  background-color: green;
  float: right;
  margin-right: 75px;

  }

#tables{
width: 90%;
margin-left: auto;
margin-right: auto;
}
table{
  width: 100%;
}
#baslik{

float: left;
margin-left: 60px;
}
#updatebutton{
  float: right;

}
#deletebutton{
  float: right;

}
#filter{
float: left;
width: 50%;
}






